.container-register{
    width: 100vw;
    height: 100vh;
    background: #132457;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-register{
    position: relative;
    width: 420px;
    background: white;
    padding: 60px 40px 40px;
    border-radius: 12px;

}

form mat-form-field{
    width: 100%;
    margin-bottom: 28px;
}


.form-register .btn-create-account{
    background: #378dfc;
    color: white;
    padding: 8px;
    border: none;
    border-radius: inherit;
    font-weight: bold;
    letter-spacing: 1.3px;
    width: 100%;
    margin-top: 20px;
}

.form-register .btn-create-account:disabled{
    background: #d9d7d7;
}

.info-form{
    text-align: center;
}

.info-form h2{
    font-size: 2em;
    text-transform: uppercase;
    color: #0c1d50;
    font-weight: bold;
}

.have-account a{
    color: #28aafb;
    font-weight: 500;
    text-decoration: none;
    margin-left: 6px;
}