<div class="about-container">
  <div class="alert alert-dismissible alert-warning">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <h4 class="alert-heading">Warning!</h4>
    <p class="mb-0">
      Best check yo self, you're not looking too good. Nulla vitae elit libero,
      a pharetra augue. Praesent commodo cursus magna,
      <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.
    </p>
  </div>
  <figure>
    <blockquote class="blockquote">
      <p class="mb-0">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
        erat a ante.
      </p>
    </blockquote>
    <figcaption class="blockquote-footer">
      Someone famous in <cite title="Source Title">Source Title</cite>
    </figcaption>
  </figure>
</div>
<hr />
<br />

<div class="container">
  <input type="number" [(ngModel)]="power" placeholder="Ingrese numero base" />Numero base<br/>
  <input type="number" [(ngModel)]="expo">Exponente
  <p>{{ power | exponential:expo}}</p>
</div>
