<section class="about animate__animated animate__fadeIn">
  <div class="about-us">
    <h1>SOBRE NOSOTROS</h1>
    <p>Somos una empresa difital enfocada en la venta de diversos productos de manera online, contamos con los productos
      mas increibles que puedas imaginar.
      Nuestros productos son altamente recomendados por nuestros clientes.
    </p>
  </div>
  <div class="about-image">
    <img src="assets/images/office.gif" alt="">
  </div>
  <div class="about-history">
    <h2>Nuestra historia</h2>
    <p>Comenzamos hace 5 años, primero vendiendo pequeños productos por instagram, pero luego vimos un crecimiento importante
      en nuestros clientes, por lo que decidimos ampliar nuestro catalogo de productos y crear una pagina web para comprar de una forma online mas efectiva.
    </p>
  </div>
</section>

<!-- <div class="container">
  <input type="number" [(ngModel)]="power" placeholder="Ingrese numero base" />Numero base<br/>
  <input type="number" [(ngModel)]="expo">Exponente
  <p>{{ power | exponential:expo}}</p>
</div> -->
