<div class="section-home animate__animated animate__fadeIn">
    <div class="home-info">
        <div class="info-detail">
            <h2>BIENVENIDOS A SKR STORE</h2>
            <p>Somos la tienda online mas fachera de todos los tiempos, los mejores articulos con los mejores precios.
                Si no encuentras algo que te guste, ve al hospital.
            </p>
        </div>
        <div class="links-container">
            <a [routerLink]="['/products']"  href="#" class="btn btn-primary btn-products">Ver productos ahora</a>
        </div>
    </div>
    <img src="../../../assets/images/carthome.svg" alt="">
</div>
