.logo-main{
    width: 200px;
}

.logo-main img{
    width: 100%;
}

.nav-item a.link-activate{
    color: #05085abf;
    font-weight: bold;
}

.btn-cart{
    margin: 0 30px;
    background: #000;
    color: white;
}

@media screen and(max-width:992px){
    .btn-cart{
        margin: 20px 0px;
    }
}