.section-footer{
    background: #384850;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
}

.section-footer h2{
    color: #fafafa;
}

.section-footer p{
    color: #b9b6b6;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.section-footer p:hover{
    color: white;
}

.section-footer>*{
    justify-self: center;
}

.icon-contact{
    margin-right: 12px;
    color: #b9b9b9;
}

.contact{
    width: 100%;
    text-align: center;
}

.contact form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact form input{
    border: none;
    border-radius: 5px;
    margin-right: 12px;
    color: #fff;
}

.btn-send-email{
    border-radius: 6px;
    border: none;
    padding: 8px 12px;
    background: #378dfc;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: 12px;
}

.btn-send-email:disabled{
    background: #aeaeae;
    color: #dddddd;
}