<footer class="section-footer">
    <div class="products">
        <h2>Productos</h2>
        <p>Nuevos productos</p>
        <p>En oferta</p>
        <p>Ultimos productos</p>
    </div>
    <div class="store">
        <h2>Nosotros</h2>
        <p>Quienes somos?</p>
        <p>Nuestras tiendas</p>
    </div>
    <div class="contact">
        <h2>Contacto</h2>
        <form class="form-email">
            <mat-icon class="icon-contact" >email</mat-icon>
            <mat-form-field class="example-full-width">
                <input type="email" matInput [formControl]="emailField" placeholder="Ex. skrstore@example.com">
                <mat-error *ngIf="emailField.hasError('email') && !emailField.hasError('required')">
                    Porfavor ingrese un email valido
                </mat-error>
                <mat-error *ngIf="emailField.hasError('required')">
                    Correo es <strong>obligatorio</strong>
                </mat-error>
            </mat-form-field>
            <button type="button" class="btn-send-email" [disabled]="emailField.invalid" (click)="sendEmail()">Enviar</button>

        </form>
    </div>
</footer>

