table {
    width: 100%;
}

.btn-table{
    border: none;
    border-radius: 8px;
    outline: none;
    margin-right: 4px;
    padding: 4px 18px;
    color: white;
}

.btn-edit{
    background: #38439d;
}

.btn-delete{
    background: #be1e1e;
}

